# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Rope
.ropeproject

# Vagrant
.vagrant

# vim
.swp

#iPython
.ipynb

